* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
body {
  position: relative;
  overflow-x: hidden ;
}
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
html,
body {
  height: 100%;
}
.wrapper {
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}
div {
  cursor: pointer;
}
li {
  list-style: none;
  cursor: pointer;
}
span {
  cursor: pointer;
}
.blue {
  border-bottom: 0.08rem solid #4285f4;
  color: #4285F4 !important;
}
.bluebg {
  width: 15.28rem;
  height: 5.84rem;
  background: #4285F4;
  position: relative;
}
.data_head {
  width: 13.7rem;
  height: 5.38rem;
  border-radius: 0.18rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.10869565rem;
  margin-left: -7.30434783rem;
  box-shadow: 0rem 0.04rem 0.38rem 0rem rgba(66, 133, 244, 0.27);
}
.data_con {
  padding: 2.32rem 0 0.66rem 0;
  width: 100%;
  box-shadow: 0rem 0.04rem 0.38rem 0rem rgba(66, 133, 244, 0.27);
}
.data_con > p {
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100%;
  height: 0.82rem;
  color: #45464c;
  font-size: 0.68rem;
}
.data_p {
  font-weight: bold;
  height: 1.36rem;
  width: 13.6rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1.36rem;
  font-size: 0.6rem;
  color: #808080;
}
.con_p {
  width: 13.6rem;
  text-align: center;
  margin: 0 auto;
  font-size: 0.52rem;
  color: #808080;
  padding: 0.16rem 0;
  line-height: 0.76rem;
  height: auto;
}
.con_fot {
  height: 1.38rem;
  width: 13.8rem;
  margin: 0 auto;
  margin-top: 0.42rem;
}
.guan,
.price {
  border: 2px solid #4285F4;
  width: 6.44rem;
  height: 1.3rem;
  text-align: center;
  line-height: 1.3rem;
  font-size: 0.64rem;
  float: left;
  border-radius: 0.1rem;
}
.guan {
  margin-right: 0.36rem;
  color: #4285F4;
}
.price {
  background: #4285F4;
  color: white;
}
.cont {
  width: 100%;
  overflow: hidden;
  padding: 0.68rem 0;
  margin-top: 0.5rem;
  box-shadow: 0rem 0.04rem 0.38rem 0rem rgba(66, 133, 244, 0.27);
}
.cont p {
  display: block;
  width: 13.6rem;
  margin: 0 auto;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #808080;
  font-size: 0.52rem;
}
.foot {
  width: 100%;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}
.foot p {
  display: block;
  width: 13.6rem;
  line-height: 0.8rem;
  font-size: 0.52rem;
  color: #808080;
  margin: 0 auto;
}
.foot p:last-child {
  margin-top: 0.18rem;
}
.payment {
  width: 13.98rem;
  height: 10.98rem;
  padding: 0.6rem;
  box-sizing: border-box;
  background: #fff;
  position: fixed;
  bottom: -21.312rem;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.16rem;
  transition: all .5s;
}
.payment .title {
  line-height: 0.92rem;
  color: #494949;
  font-size: 0.6rem;
}
.payment .xuzhi {
  color: #4285f4;
}
.payment .quan strong {
  color: #f69f07;
  float: right;
  font-weight: normal;
}
.payment .zong strong {
  font-weight: normal;
  text-align: right;
  color: #e2e3e3;
  float: right;
  text-decoration: line-through;
  margin-right: 0.4rem;
}
.payment .zong i {
  text-align: right;
  color: #4285f4;
  font-style: normal;
  float: right;
}
.payment li {
  height: 1.6rem;
  line-height: 1.6rem;
  box-sizing: border-box;
  border-bottom: 0.04rem solid #fafafa;
  font-size: 0.52rem;
}
.payment .button {
  margin-top: 1.38rem;
  height: 1.8rem;
  width: 12.78rem;
  line-height: 1.8rem;
  text-align: center;
  font-size: 0.68rem;
  color: #fff;
  border-radius: 0.16rem;
  background: #00b90c url('../img/weixin.png') no-repeat left 4rem center;
  background-size: 1.08rem 0.88rem;
  padding-left: 1.08rem;
  box-sizing: border-box;
}
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  left: 0;
  top: 0;
  display: none;
}
