*{
     margin: 0;
     padding: 0;
     font-family: "微软雅黑";
}
 body{
     position: relative;
     overflow-x:hidden ;
}
body,html{
    height: 100%;
    width: 100%;
}
.wrapper{
    height: 100%;
}
 a{
     text-decoration: none;
     cursor: pointer;
     -webkit-tap-highlight-color:rgba(255,0,0,0) 
}
 img{
     width: 100%;
     height: 100%;
}
div{ cursor: pointer;}
li{list-style: none; cursor: pointer; cursor: pointer;}
span{ cursor: pointer;}
.blue{
     border-bottom: 0.08695652173913043rem solid #4285f4;
     color: #4285F4 !important;
}
.small{
     font-size: 0.6956521739130435rem !important;
}
 .banner{
     width: 16.304347826086957rem;
     height: 8.391304347826088rem;
     box-shadow: 0rem 0.043478260869565216rem 0.426666rem 0rem rgba(66, 133, 244, 0.27);
     margin-bottom: 0.43478260869565216rem;
}
 .nav{
     width: 14.93333333333333rem;
      margin: 0 auto;
     height: 1.8478260869565217rem;
     overflow: hidden;
     border-bottom: 0.043478260869565216rem solid #ebebeb;
}
 .nav li{
     /*width: 33%;*/
     height: 100%;
    margin: 0 1.8rem ;
     float: left;
     text-align:center ;
}
 .nav li a{
     display: block;
     height: 1.8043478260869565rem;
     line-height: 1.8043478260869565rem;
     font-size: 0.6521739130434783rem;
     color: #666666;
}
 .con{
     width: 16.304347826086957rem;
     min-height: 14rem;
     padding-bottom: 2.56rem;
}
 .con li{
     display: none;
}
 .intr{
     width: 15.36rem;
     padding-left: 0.64rem;
     height: 5.369565217391305rem;
     box-shadow: 0rem 0.16rem 0.426666rem 0rem rgba(66, 133, 244, 0.27);
     margin-bottom: 0.5333333333333333rem;
     position: relative;
     overflow: hidden;
}
 .int_tit{
     margin-top: 1.0869565217391304rem;
     width: 12.478260869565217rem;
     height: 0.7391304347826086rem;
     color: #333333;
     font-size: 0.7391304347826086rem;
}
 .int_p{
     width: 100%;
     height: 1.608695652173913rem;
     line-height: 1.608695652173913rem;
     font-size: 0.6521739130434783rem;
     color: #4c4c4c;
}
 .int_foot{
     width: 100%;
     overflow: hidden;
}
 .int_zi{
     float: left;
     width: 5.043478260869565rem;
     font-size: 1.173913043478261rem;
     color: #ffa100;
}
 .int_peo{
    float: left;
    width: 2.9565217391304346rem;
    height: 0.8695652173913043rem;
    line-height: 1.3043478260869565rem;
    font-size: 0.5217391304347826rem;
    color: #808080;
    margin-top: 0.37rem;
}
 .guan{
     width: 1.6956521739130435rem;
     height: 0.717391304347826rem;
     border: 2px solid #4285F4;
     font-size: 0.5652173913043478rem;
     color: #4285F4;
     text-align: center;
     line-height: 0.717391304347826rem;
     position: absolute;
     top: 2.108695652173913rem;
     right: 0.8695652173913043rem;
     border-radius: 0.10869565217391304rem;
}
 .int_img{
     width: 100%;
     height: auto;
}
 .int_img img{
     width: 100%;
     height: auto;
}
.bao{
    width: 100%;
    height: 2.50869565217391304rem;
    line-height: 2.50869565217391304rem;
    text-align: center;
    font-size: 0.7391304347826086rem;
    color: #4285F4;
    background: white;
    position: fixed;
    bottom: 0;
    z-index: 5;
}
.bao img{ display: block;}
.bao_fl{
    float: left;
    width: 40.6%;
    height: 100%;
    border-top: 0.021739130434782608rem solid #ccc;
    color: #7e7e7e;
    font-size: 0.43478260869565216rem;
}
.teach,.suc{
    width: 1.3478260869565217rem;
    height: 100%;
    float: left;
    overflow: hidden;
}
.teach{
    margin: 0 1.2173913043478262rem;
}
.tea_img{
    width: 0.782608695652174rem;
    height: 0.8695652173913043rem;
    margin: 0.4rem auto;
}
.teach p,.suc p{
   text-align: center;
   width: 100%;
   line-height: 0.4rem;
}
.suc_img{
    width: 0.8478260869565217rem;
    height: 0.8043478260869565rem;
    margin: 0.4rem auto;
}
.bao_rt{
    width: 59.4%;
    height: 100%;
    background: #fea201;
    font-size: 0.6956521739130435rem;
    color: white;
    text-align: center;
    line-height:2.50869565217391304rem;
    float: left;
    text-align: center;
}

 
.cataloga{
     width: 14.91304347826087rem;
     padding: 0 0.7608695652173914rem 0 0.6304347826086957rem;
     border-bottom: 0.043478260869565216rem solid #d5d8dc;
     height: 3.260869565217391rem;
     overflow: hidden;
     position: relative;
}
 .cat_tit{
     height: 1.4782608695652173rem;
     line-height: 1.4782608695652173rem;
     font-size: 0.6521739130434783rem;
     color: #494949;
     margin-top: 0.4693333333333333rem;
}
 .cat_fot{
     height: 0.5652173913043478rem;
     line-height: 0.5652173913043478rem;
     font-size: 0.43478260869565216rem;
}
 .cat_fot a{
     color: #808080;
     float: left;
     width: 4.573913043478261rem;
     text-indent: 0.782608695652174rem;
}
 .cat_fot a:first-child{
     background: url(../img/no.png) no-repeat;
     background-size: 0.4782608695652174rem;
}
 .cat_fot a:last-child{
     background: url(../img/no.png) no-repeat;
     background-size: 0.4782608695652174rem;
}
 .catalog span{
    width: 0.8695652173913043rem;
    height: 0.8695652173913043rem;
    position: absolute;
    top: 1.3217391304348rem;
    right: 1.5rem;
}
 
.wen {
	height: 6rem;
	width: 14.217391304347826rem;
	margin: 0 auto;
	border-bottom: 1px solid #dedede;
	-webkit-appearance : none ; 
}
.pincon{ position: relative;}
.wen textarea {
	padding: 0.4rem;
	outline: none;
	resize: none;
	width: 13rem;
	height: 2.130434782608696rem;
	border: 1px solid #ccc;
	border-radius: 0.2133333333333333rem;
	line-height: 0.5652173913043478rem;
	margin-top: 0.7rem;
}

.wen input {
	width: 2.901333333333333rem;
	height: 0.9813333333333333rem;
	background-color: #1C94FE;
	color: white;
	font-size: 0.4782608695652174rem;
	border: 0;
	outline: none;
	float: right;
	margin-right: 0.38rem;
	margin-top: 0.4rem;
	border-radius: 0.1066666666666667rem;
}
.com{
     width: 14.608695652173912rem;
     height: 4.608695652173913rem;
     margin: 0 auto;
     border-bottom: 0.021739130434782608rem solid #dfdfdf;
     overflow: hidden;
}
 .conm_fl{
     float: left;
     width: 1.2173913043478262rem;
     height: 1.2173913043478262rem;
     border-radius: 50%;
     overflow: hidden;
     margin: 0.5rem 0.391304347826087rem 0 0.13043478260869565rem;
}
 .com_rt{
     float: left;
     width: 12.869565217391305rem;
     height: 4.108695652173913rem;
     margin-top: 0.5rem;
     position: relative;
}
 .com_rt dd{
     width: 100%;
     height: 1.2173913043478262rem;
     line-height: 1.2173913043478262rem;
     font-size: 0.6521739130434783rem;
     color: #4c4c4c;
}
 .com_rt h3{
 	font-weight: 300;
     font-size: 0.5652173913043478rem;
     color: #808080;
     /*height: 2.0434782608695654rem;*/
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     overflow: hidden;
}
 .qi{
     font-size: 0.43478260869565216rem;
     color: #808080;
     position: absolute;
     right: 0.5217391304347826rem;
     bottom: 0.5rem;
}
.meiyou{font-size: 0.512rem; color: #808080;  width: 3rem; margin: 0 auto; text-align: center; margin-top: 2rem; display: none;} 
.mask{
    background: rgba(0,0,0,.4);
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.bombBox{
    position: fixed;
    height: 10.58133333333333rem;
    width: 14.912rem;
    border-radius: 0.1706666666666667rem;
    padding: 0 0.96rem;
    box-sizing: border-box;
    background: #fff;
    bottom: -19.6rem;
    left: 0.5333333333333333rem;
    z-index: 999;
    transition: all .5s;
}
.bombBox li{
    height: 2.474666666666667rem;
    line-height: 2.474666666666667rem;
    border-bottom: 0.0426666666666667rem solid #dadada;
    font-size: 0.6826666666666667rem;
    color: #666;
}
.bombBox li::after{
    content: '';
    clear: both;
}
.bombBox li span{
    float: left;
    padding-left: 1.066666666666667rem;
    background: url(../img/yuan.png) no-repeat left 0.96rem;
    background-size: 0.64rem 0.64rem;
}
.bombBox li strong{
    font-weight: normal;
    float: right;
}
.bombBox .active{
    color: #4285f4;
}
.bombBox .active span{
    background: url(../img/yuan_xuan.png) no-repeat left 0.96rem;
    background-size: 0.64rem 0.64rem;
}
.bombBox .button{
    width: 13.01333333333333rem;
    height: 1.92rem;
    border-radius: 0.1706666666666667rem;
    line-height: 1.92rem;
    text-align: center;
    font-size: 0.6826666666666667rem;
    color: #fff;
    margin-top: 0.5973333333333333rem;
}
.youhui{
    border:none !important;
}
.youhui.yes{
    color: #666666;
}
.youhui.no{
    color: #bdbdbd;
}
.youhui.yes span{
    background: url(../img/quan.png) no-repeat left 0.86rem;
    background-size:0.64rem 0.7893333333333333rem;
}
.youhui.no span{
    background: url(../img/no_quan.png) no-repeat left 0.86rem;
    background-size:0.64rem 0.7893333333333333rem;
}
.bombBox .quan{
    background: #4285f4;
}
.bombBox .weixin{
    background: #00b90c url(../img/weixin.png) no-repeat 4.288rem 0.469333333333333322rem ;
    background-size: 1.173333333333333rem 0.91733333333333333rem;
    box-sizing: border-box;
    padding-left: 1.28rem;
}