* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
body {
  position: relative;
  overflow-x: hidden ;
}
body,
html {
  height: 100%;
  width: 100%;
}
.wrapper {
  height: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
img {
  width: 100%;
  height: 100%;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
div {
  cursor: pointer;
}
li {
  list-style: none;
  cursor: pointer;
}
span {
  cursor: pointer;
}
.blue {
  border-bottom: 0.08rem solid #4285f4;
  color: #4285F4 !important;
}
.small {
  font-size: 0.64rem !important;
}
.banner {
  width: 15.28rem;
  height: 7.86rem;
  box-shadow: 0rem 0.04rem 0.38rem 0rem rgba(66, 133, 244, 0.27);
  margin-bottom: 0.4rem;
}
.nav {
  width: 13.98rem;
  margin: 0 auto;
  height: 1.72rem;
  overflow: hidden;
  border-bottom: 0.04rem solid #ebebeb;
}
.nav li {
  height: 100%;
  margin: 0 1.68rem;
  float: left;
  text-align: center ;
}
.nav li a {
  display: block;
  height: 1.68rem;
  line-height: 1.68rem;
  font-size: 0.6rem;
  color: #666666;
}
.con {
  width: 15.28rem;
  min-height: 14rem;
  padding-bottom: 2.4rem;
}
.con li {
  display: none;
}
.intr {
  width: 14.4rem;
  padding-left: 0.6rem;
  height: 5.02rem;
  box-shadow: 0rem 0.14rem 0.38rem 0rem rgba(66, 133, 244, 0.27);
  margin-bottom: 0.5rem;
  position: relative;
  overflow: hidden;
}
.int_tit {
  margin-top: 1rem;
  width: 11.68rem;
  height: 0.68rem;
  color: #333333;
  font-size: 0.68rem;
}
.int_p {
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.6rem;
  color: #4c4c4c;
}
.int_foot {
  width: 100%;
  overflow: hidden;
}
.int_zi {
  float: left;
  font-size: 1.1rem;
  color: #ffa100;
  margin-right: 0.4rem;
}
.int_peo {
  float: left;
  width: 2.76rem;
  height: 0.8rem;
  line-height: 1.22rem;
  font-size: 0.48rem;
  color: #808080;
  margin-top: 0.34rem;
}
.guan {
  width: 1.58rem;
  height: 0.66rem;
  border: 2px solid #4285F4;
  font-size: 0.52rem;
  color: #4285F4;
  text-align: center;
  line-height: 0.66rem;
  position: absolute;
  top: 1.96rem;
  right: 0.8rem;
  border-radius: 0.1rem;
}
.int_img {
  width: 100%;
  height: auto;
}
.int_img img {
  width: 100%;
  height: auto;
}
.bao {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 0.68rem;
  color: #4285F4;
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 5;
}
.bao img {
  display: block;
}
.bao_fl {
  float: left;
  width: 40.6%;
  height: 100%;
  border-top: 0.02rem solid #cccccc;
  color: #7e7e7e;
  font-size: 0.4rem;
}
.teach,
.suc {
  width: 1.26rem;
  height: 100%;
  float: left;
  overflow: hidden;
}
.teach {
  margin: 0 1.14rem;
}
.tea_img {
  width: 0.72rem;
  height: 0.8rem;
  margin: 0.36rem auto;
}
.teach p,
.suc p {
  text-align: center;
  width: 100%;
  line-height: 0.36rem;
}
.suc_img {
  width: 0.78rem;
  height: 0.74rem;
  margin: 0.36rem auto;
}
.bao_rt {
  width: 59.4%;
  height: 100%;
  background: #fea201;
  font-size: 0.64rem;
  color: white;
  line-height: 2.34rem;
  float: left;
  text-align: center;
  line-height: 2rem;
}
.cataloga {
  width: 13.98rem;
  padding: 0 0.7rem 0 0.58rem;
  border-bottom: 0.04rem solid #d5d8dc;
  height: 3.04rem;
  overflow: hidden;
  position: relative;
}
.cat_tit {
  height: 1.38rem;
  line-height: 1.38rem;
  font-size: 0.6rem;
  color: #494949;
  margin-top: 0.44rem;
}
.cat_fot {
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.4rem;
}
.cat_fot a {
  color: #808080;
  float: left;
  width: 4.28rem;
  text-indent: 0.72rem;
}
.cat_fot a:first-child {
  background: url(../img/no.png) no-repeat;
  background-size: 0.44rem;
}
.cat_fot a:last-child {
  background: url(../img/no.png) no-repeat;
  background-size: 0.44rem;
}
.catalog span {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 1.22rem;
  right: 1.4rem;
}
.wen {
  height: 5.62rem;
  width: 13.32rem;
  margin: 0 auto;
  border-bottom: 0.02rem solid #dedede;
  -webkit-appearance: none ;
}
.pincon {
  position: relative;
}
.wen textarea {
  padding: 0.36rem;
  outline: none;
  resize: none;
  width: 12.2rem;
  height: 1.98rem;
  border: 1px solid #ccc;
  border-radius: 0.18rem;
  line-height: 0.52rem;
  margin-top: 0.64rem;
}
.wen input {
  width: 2.72rem;
  height: 0.92rem;
  background-color: #1C94FE;
  color: white;
  font-size: 0.44rem;
  border: 0;
  outline: none;
  float: right;
  margin-right: 0.34rem;
  margin-top: 0.36rem;
  border-radius: 0.1rem;
}
.com {
  width: 13.68rem;
  height: 4.32rem;
  margin: 0 auto;
  border-bottom: 0.02rem solid #dfdfdf;
  overflow: hidden;
}
.conm_fl {
  float: left;
  width: 1.14rem;
  height: 1.14rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.46rem 0.36rem 0 0.12rem;
}
.com_rt {
  float: left;
  width: 12.06rem;
  height: 3.84rem;
  margin-top: 0.46rem;
  position: relative;
}
.com_rt dd {
  width: 100%;
  height: 1.14rem;
  line-height: 1.14rem;
  font-size: 0.6rem;
  color: #4c4c4c;
}
.com_rt h3 {
  font-weight: 300;
  font-size: 0.52rem;
  color: #808080;
  /*height: 95/@base;*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.qi {
  font-size: 0.4rem;
  color: #808080;
  position: absolute;
  right: 0.48rem;
  bottom: 0.46rem;
}
.meiyou {
  font-size: 0.48rem;
  color: #808080;
  width: 3rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  display: none;
}
.mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
.bombBox {
  position: fixed;
  height: 9.9rem;
  width: 13.98rem;
  border-radius: 0.16rem;
  padding: 0 0.9rem;
  box-sizing: border-box;
  background: #fff;
  bottom: -19.6rem;
  left: 0.5rem;
  z-index: 999;
  transition: all .5s;
}
.bombBox li {
  height: 2.32rem;
  line-height: 2.32rem;
  border-bottom: 0.04rem solid #dadada;
  font-size: 0.64rem;
  color: #666;
}
.bombBox li::after {
  content: '';
  clear: both;
}
.bombBox li span {
  float: left;
  padding-left: 1rem;
  background: url(../img/yuan.png) no-repeat left 0.9rem;
  background-size: 0.6rem 0.6rem;
}
.bombBox li strong {
  font-weight: normal;
  float: right;
}
.bombBox .active {
  color: #4285f4;
}
.bombBox .active span {
  background: url(../img/yuan_xuan.png) no-repeat left 0.9rem;
  background-size: 0.6rem 0.6rem;
}
.bombBox .button {
  width: 12.18rem;
  height: 1.8rem;
  border-radius: 0.16rem;
  line-height: 1.8rem;
  text-align: center;
  font-size: 0.64rem;
  color: #fff;
  margin-top: 0.54rem;
}
.youhui {
  border: none !important;
}
.youhui.yes {
  color: #666666;
}
.youhui.no {
  color: #bdbdbd;
}
.youhui.yes span {
  background: url(../img/quan.png) no-repeat left 0.8rem;
  background-size: 0.64rem 0.74rem;
}
.youhui.no span {
  background: url(../img/no_quan.png) no-repeat left 0.8rem;
  background-size: 0.64rem 0.74rem;
}
.bombBox .quan {
  background: #4285f4;
}
.bombBox .weixin {
  background: #00b90c url(../img/weixin.png) no-repeat 4.02rem 0.44rem;
  background-size: 1.08rem 0.86rem;
  box-sizing: border-box;
  padding-left: 1.2rem;
}
