* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
body {
  overflow-x: hidden ;
}
body,
html {
  height: 100%;
}
.wrapper {
  height: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
img {
  width: 100%;
  height: 100%;
}
div {
  cursor: pointer;
}
li {
  list-style: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
span {
  cursor: pointer;
}
.blue {
  /*border-bottom: 4/@base solid #4285f4;*/
  color: #4285F4 !important;
}
.header {
  width: 15.28rem;
  height: 6.3rem;
  background-color: #4285f4;
  overflow: hidden;
}
.header {
  background: url(../img/our_bg.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.head_con {
  width: 13.4rem;
  height: 2.64rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7.15217391rem;
  margin-top: -1.41304348rem;
}
.head_fl {
  float: left;
  height: 2.64rem;
  width: 2.64rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.6rem;
}
.head_cc {
  float: left;
  width: 9.74rem;
  height: 2.64rem;
}
.head_cc p {
  height: 1.38rem;
  line-height: 1.38rem;
  font-size: 0.6rem;
  color: white;
  width: 100% ;
}
.headc_font {
  width: 100%;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.44rem;
  color: white;
}
.headc_font span {
  float: left;
  width: 1.76rem;
  height: 0.64rem;
  line-height: 0.64rem;
  text-indent: 0.72rem;
  background: url(../img/our.png) no-repeat 0rem -2.57rem;
  background-size: 0.64rem;
}
.lines {
  width: 0.08rem;
  height: 0.52rem;
  background-color: white;
  margin-right: 0.38rem;
  float: left;
}
.headc_font a {
  float: left;
  width: 1.76rem;
  height: 0.64rem;
  color: white;
  text-indent: 0.68rem;
  background: url(../img/book.png) no-repeat 0rem;
  background-size: 0.5rem;
}
.head_rt {
  width: 0.38rem;
  height: 2.64rem;
  line-height: 2.64rem;
  float: left;
}
.head_rt img {
  width: 0.36rem;
  height: auto;
}
.conten {
  width: 15.28rem;
  padding: 0.52rem 0 1.74rem 0;
  box-shadow: 0rem 0.04rem 0.38rem 0rem rgba(66, 133, 244, 0.27);
}
.din_con {
  border-bottom: 2px solid #f5f5f5;
  width: 14.44rem;
  height: 5.2rem;
  margin: 0 auto;
}
.dinc_fl {
  width: 4.62rem;
  height: 2.98rem;
  float: left;
  border-radius: 0.21739130434782608rem;
  overflow: hidden;
  margin: 0.68rem 0.44rem 0 0.34rem;
}
.dinc_rt {
  width: 8.52rem;
  height: 2.98rem;
  float: left;
  margin-top: 0.68rem;
}
.dinc_rt p {
  width: 100%;
  height: 1.02rem;
  line-height: 1.02rem;
  font-size: 0.68rem;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dinc_rt span {
  display: block;
  height: 0.96rem;
  line-height: 0.96rem;
  font-size: 0.6rem;
  color: #4c4c4c;
}
.dincc {
  width: 100%;
  height: 0.96rem;
}
.price {
  font-size: 0.56rem;
  color: #f69f07;
  float: left;
  height: 0.96rem;
  line-height: 1.18rem;
}
.study {
  float: right;
  width: 2.92rem;
  height: 0.96rem;
  border-radius: 0.1rem;
  background: #4285F4;
  font-size: 0.6rem;
  color: white;
  text-align: center;
  line-height: 0.96rem;
}
.time {
  height: 1.22rem;
  line-height: 1.22rem;
  margin-left: 0.3695652173913043rem;
  font-size: 0.44rem;
  color: #777777;
  float: left;
}
footer {
  width: 100%;
  height: 2.02rem;
  position: fixed;
  bottom: 0;
  background: white;
  z-index: 2;
  box-shadow: 0px 2px 0.38rem 0px rgba(66, 133, 244, 0.2);
}
footer dl {
  width: 25%;
  height: 100%;
  text-align: center;
  float: left;
}
footer dl dt {
  width: 100%;
  height: 0.68rem;
  margin-top: 0.38rem;
  overflow: hidden;
}
footer dl img {
  display: block;
  margin: 0 auto ;
}
footer dl dd {
  line-height: 0.8rem;
  height: 0.8rem;
  width: 100%;
  text-align: center;
  color: #999999;
  font-size: 0.44rem;
}
footer dl:first-child img {
  width: 1rem;
  height: 0.8rem;
}
footer dl:nth-child(2) img {
  width: 0.72rem;
  height: 0.66rem;
}
footer dl:nth-child(3) img {
  width: 0.8rem;
  height: 0.78rem;
}
footer dl:last-child img {
  width: 0.8rem;
  height: 0.88rem;
}
