* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
body {
  position: relative;
  overflow-x: hidden ;
}
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
img {
  width: 100%;
  height: 100%;
}
html,
body {
  height: 100%;
}
.wrapper {
  height: 100%;
}
div {
  cursor: pointer;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
input[type=submit],
input[type=reset],
input[type=button],
input[type=text] {
  -webkit-appearance: none;
  outline: none;
}
li {
  list-style: none;
  cursor: pointer;
}
span {
  cursor: pointer;
}
.blue {
  border-bottom: 0.08rem solid #4285f4;
  color: #4285F4 !important;
}
.blue_bg {
  background: #4285F4;
}
.head {
  width: 3.44rem;
  /*height: 36/@base;*/
  margin: 1.22rem auto 1.28rem auto;
}
.nav {
  height: 1.84rem;
  width: 15.28rem;
  overflow: hidden;
  border-bottom: 0.02rem solid #d3d4d3;
}
.nav div {
  height: 1.78rem;
  line-height: 1.78rem;
  font-size: 0.7rem;
  color: #101010;
}
.login {
  margin: 0 2.02rem;
  text-align: center;
  float: left;
}
.msm {
  margin-left: 1.78rem;
  text-align: center;
  float: left;
}
.msmlogin li {
  width: 13.64rem;
  height: 2.24rem;
  margin: 0 auto;
  border-bottom: 1px solid #d3d4d3;
  overflow: hidden;
}
.msmlogin li span {
  width: 1.82rem;
  height: 2.24rem;
  line-height: 2.24rem;
  font-size: 0.64rem;
  color: #101010;
  float: left;
}
.ms_first input {
  width: 11.82rem;
  height: 2.346666666666667rem;
  line-height: 2.2rem;
  border: 0;
  float: left;
  text-indent: 0.16rem;
  font-size: 0.64rem;
}
.ms_last span {
  width: 3.7rem !important;
}
#code {
  width: 4.2rem;
  height: 2.346666666666667rem;
  line-height: 2.2rem;
  border: 0;
  float: left;
  text-indent: 0.16rem;
  font-size: 0.64rem;
}
.inpbtn input {
  width: 13.64rem;
  height: 2.02rem;
  display: block;
  border: 0;
  margin: 0.8rem auto 0.72rem auto;
  font-size: 0.68rem;
  color: white;
  background: #d8d8d8;
  border-radius: 0.16rem;
}
.foot {
  width: 13.64rem;
  height: 5.7rem;
  margin: 0 auto;
  margin-top: 2.4rem;
}
.sign {
  width: 13.64rem;
  margin: 0 auto;
  overflow: hidden;
}
.sign a {
  float: right;
  font-size: 0.48rem;
  color: #4285F4;
}
.foot_head {
  width: 13.64rem;
  height: 1.18rem;
  position: relative;
}
.line {
  position: absolute;
  height: 0.04rem;
  background: #eaeaea;
  width: 13.64rem;
  top: 50%;
  margin-top: -0.02173913rem;
}
.cen {
  width: 4.6rem;
  height: 1.18rem;
  font-size: 0.5973333333333333rem ;
  text-align: center;
  line-height: 1.18rem;
  color: #808080;
  background: white;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.45652174rem;
  margin-top: -0.63043478rem;
}
.wx {
  width: 2.44rem;
  height: 2.44rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0.56rem auto;
}
#btn {
  width: 4.8rem;
  height: 1.32rem;
  float: left;
  background: #4285F4;
  border: 0;
  font-size: 0.6rem;
  color: white;
  border-radius: 4px;
  margin-left: 0.94rem;
  margin-top: 0.36rem;
}
.message {
  color: #FEA201;
  font-size: 0.48rem;
  line-height: 0.6rem;
  margin-top: 0.6rem;
  padding-left: 0.7rem;
  height: 0.6rem;
}
