html,
body {
  height: 100%;
}
.wrapper {
  height: 100%;
}
.clear::after {
  content: '';
  display: block;
  clear: both;
}
.head {
  width: 100%;
  height: 1.88rem;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 2;
  box-shadow: 0rem 0.04rem 0.4rem 0rem rgba(66, 133, 244, 0.2);
}
.head_sou {
  width: 13.66rem;
  height: 1.22rem;
  text-indent: 1.36rem;
  border-radius: 0.58rem;
  position: absolute;
  background: #f0f0f0 url(../img/currency.png) no-repeat 0.46rem -4.36rem;
  background-size: 0.82rem;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin-left: -6.82rem;
  margin-top: -0.6rem;
  color: #999;
  font-size: 0.6rem;
  line-height: 1.22rem;
}
.banner {
  margin: 0 auto;
  box-shadow: 0rem 0.04rem 0.4rem 0rem rgba(66, 133, 244, 0.2);
  margin-top: 2.42rem;
  width: 14rem;
  border-radius: 0.18rem;
}
.ban_tit {
  height: 1.84rem;
  width: 100%;
  text-indent: 0.92rem;
  line-height: 1.84rem;
  color: #4d4d4d;
  font-size: 0.64rem;
  background: url(../img/currency.png) no-repeat 0.18rem -4.74rem;
  background-size: 0.72rem;
  font-weight: 600;
}
.ban_tu {
  width: 14rem;
  margin: 0 auto;
  height: 6.9rem;
  position: relative;
  overflow: hidden;
}
.ban_tu > img {
  width: 100%;
  height: auto;
}
.ban_shi {
  text-indent: 0.62rem;
  width: 2.66rem;
  height: 0.76rem;
  line-height: 0.74rem;
  color: white;
  border-radius: 0.38rem;
  font-size: 0.44rem;
  border: 0.02rem solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.huifang {
  background: url(../img/huifang.png) no-repeat rgba(0, 0, 0, 0.3) 0.32rem 0.16rem;
  background-size: 0.22rem 0.32rem;
}
.jijiang {
  background: url(../img/biao.png) no-repeat rgba(0, 0, 0, 0.3) 0.18rem 0.18rem;
  background-size: 0.36rem 0.36rem;
}
.ban_zia,
.ban_zib {
  height: 100%;
  line-height: 1rem;
}
.ban_zia {
  width: 6.4rem;
  font-size: 0.6rem;
  color: #4c4c4c;
  float: left;
  text-indent: 0.34rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1rem;
  height: 1rem;
  margin-top: 0.4rem;
}
.ban_zib {
  font-size: 0.48rem;
  color: #666;
  float: right;
  margin-right: 0.34rem;
  margin-top: 0.4rem;
}
.ban_sp {
  height: 0.72rem;
  width: 100%;
  border-bottom: 0.04rem solid #f0f0f0;
  margin-top: 0.2rem;
  padding-bottom: 0.44rem;
}
.ban_sp > span {
  float: left;
  width: 2.6rem;
  height: 0.76rem;
  text-align: center;
  line-height: 0.76rem;
  color: #4285f4;
  border: 0.02rem solid #4285f4;
  border-radius: 0.1rem;
  margin-left: 0.14rem;
  font-size: 0.4rem;
  box-sizing: border-box;
  display: inline-block;
}
.ban_sp > strong {
  color: #999;
  font-size: 0.52rem;
  float: left;
  padding-left: 0.34rem;
  font-weight: normal;
  line-height: 0.76rem;
}
.ban_sp > p {
  float: right;
  margin-right: 0.34rem;
  font-size: 0.84rem;
  color: #ffa100;
  line-height: 0.76rem;
}
.ban_bao {
  width: 100%;
  text-indent: 0.9rem;
  height: 1.32rem;
  line-height: 1.32rem;
  font-size: 0.48rem;
  color: #999999;
  background: url(../img/index_ren.png) no-repeat center left 0.26rem;
  background-size: 0.4rem;
}
.gao {
  width: 14rem;
  margin: 0 auto;
  border-radius: 0.16rem;
  height: 5.6rem;
  margin-top: 0.46rem;
  overflow: hidden;
  box-shadow: 0rem 0.12rem 0.4rem 0rem rgba(96, 143, 221, 0.3);
  margin-bottom: 0.54rem;
}
.gao > img {
  width: 100%;
  height: 100%;
}
.details {
  width: 14rem;
  margin: 0 auto;
  padding-bottom: 5.2rem;
}
.zhi_son {
  box-shadow: 0rem 0.12rem 0.4rem 0rem rgba(66, 133, 244, 0.26);
  width: 6.8rem;
  height: 8.5rem;
  float: left;
  border-radius: 0.16rem;
  overflow: hidden;
  margin-bottom: 0.4rem;
}
.details .zhi_son:nth-child(2n) {
  margin-left: 0.4rem;
}
.zhi_tu {
  width: 100%;
  height: 4.4rem;
  position: relative;
  overflow: hidden;
}
.zhi_tu span {
  text-indent: 0.6rem;
  width: 1.7rem;
  height: 0.68rem;
  border: 0.02rem solid rgba(255, 255, 255, 0.3);
  line-height: 0.68rem;
  position: absolute;
  top: 0.34rem;
  right: 0.34rem;
  font-size: 0.44rem;
  color: white;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.gao_tit {
  height: 0.86rem;
  margin: 0 auto;
  line-height: 0.86rem;
  margin-top: 0.24rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.56rem;
  color: #333333;
  padding-left: 0.3rem;
  box-sizing: border-box;
}
.gao_p {
  height: 0.7rem;
  font-size: 0.48rem;
  color: #666666;
  line-height: 0.7rem;
  padding-left: 0.3rem;
}
.gao_xin {
  height: 1.12rem;
  margin: 0 auto;
  border-bottom: 0.04rem solid #f0f0f0;
  padding-left: 0.3rem;
  padding-top: 0.18rem;
  box-sizing: border-box;
}
.gao_xin > span {
  float: left;
  width: 2.16rem;
  height: 0.62rem;
  text-align: center;
  line-height: 0.62rem;
  color: #4285f4;
  border: 0.02rem solid #4285f4;
  border-radius: 0.1rem;
  font-size: 0.36rem;
}
.gao_xin > p {
  float: right;
  margin-right: 0.14rem;
  font-size: 0.6rem;
  color: #ffa100;
  line-height: 0.6rem;
}
.gao_xin > .small {
  font-size: 0.44rem;
}
.gao_guan {
  width: 2.68rem;
  text-indent: 0.24rem;
  margin: 0 auto;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.18rem;
  color: #808080;
  background: #ffffff url(../img/currency.png) no-repeat 0rem -2.428rem;
  background-size: 0.24rem;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
}
